coqui-tts
optimum
SpeechRecognition
openai  # optional dependency for SpeechRecognition
openai-whisper  # optional dependency for SpeechRecognition
pyaudio
openwakeword
scipy
gerd @ git+https://github.com/caretech-owl/gerd.git
